@font-face {
    font-family: Viking;
    src: url(../fonts/Viking.ttf);
}

/* NOTE: Custom scrollbar doesn't work on IE nor Firefox */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
::-webkit-scrollbar-thumb {
    background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

#img-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-bg {
  position: absolute;
  width: 100%;
}

#tropicsapling {
  display: grid;
}

#tropicsapling em {
  font-size: 1.5rem;
  color: #eee;
  justify-self: center;
}

.wrapper {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

#intro.wrapper {
  top: 0;
  justify-content: center;
  align-items: center;
}

#projects.wrapper {
    top: 100%;
	padding-left: 10rem;
	padding-right: 10rem;
}

#user-title {
  color: white;
  font-size: 96px;
  font-family: 'Yatra One', cursive;
}

.normal-title {
  text-align: center;
  font-family: 'Yatra One', cursive;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 5rem;
}

.project {
	display: grid;
	justify-content: right;
	align-items: center;
	text-decoration: none;
	background-size: cover;
}

.project:hover {
  text-decoration: none;
  color: inherit;
}

.project div {
	background: linear-gradient(45deg, #000000 0%, #2d2d2d 100%);
	width: 30rem;
	height: 100%;
	padding-left: 5%;
	padding-right: 5%;
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project h2 {
	color: white;
}

.project:first-of-type {
	background-image: url(../img/nordic-network.PNG);
}

.project:first-of-type h2 {
	font-family: Viking;
}
