@font-face {
	font-family: Viking;
	src: url(../fonts/Viking.ttf);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'David Libre', serif;
}

/* NOTE: Custom scrollbar doesn't work on IE nor Firefox */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}
 
::-webkit-scrollbar-thumb {
	background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
	background: #777;
}

#img-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.main-bg {
	position: absolute;
	width: 100%;
	min-height: 100%;
}

#fullpage {
	position: absolute !important;
	top: 0;
}

#tropicsapling {
	display: grid;
	visibility: hidden;
	padding-left: 1rem;
}

#tropicsapling em {
	font-size: 1.5rem;
	color: #eee;
}

.wrapper {
	display: grid;
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	padding: 2rem 10rem;
}

#intro.wrapper {
	top: 0;
	padding: 0;
	align-items: flex-start;
}

#intro.wrapper a {
	width: 3rem;
	filter: invert(1);
	position: absolute;
	bottom: 10%;
}

#intro.wrapper .scroller {
	visibility: hidden;
}

.scroller {
	justify-self: center;
	animation: jump 4s infinite;
}

@keyframes jump {
	0%, 75%, 100% {
		transform: translateY(0);
	}
	
	82.5% {
		transform: translateY(0.5rem);
	}
}

#about.wrapper {
	grid-template-rows: min-content;
	background: linear-gradient(#be9, #fff);
}

#about.wrapper p {
	font-size: 2rem;
}

#about.wrapper img {
	width: 2rem;
}

#about.wrapper div {
	display: grid;
	grid-template-rows: min-content;
}

#about.wrapper div a {
	justify-self: center;
}

#learn-more {
	font-size: 3rem;
}

#projects.wrapper {
	grid-gap: 2rem;
	grid-template-rows: min-content;
}

#projects2.wrapper {
	grid-gap: 2rem;
	padding: 5.75rem 10rem;
	grid-template-rows: 1fr 1fr 1fr;
}

#knowledge.wrapper {
	grid-template-rows: min-content 1fr;
}

#contact.wrapper {
	grid-template-rows: min-content 1fr min-content 1fr;
	grid-gap: 2rem;
}

#contact.wrapper > p {
	font-size: 1.5rem;
}

#knowledge-grid {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	border-width: thick;
	border-style: solid;
	border-image: linear-gradient(to top, #8b5, #be9) 1 1;
	overflow: hidden;
}

#knowledge-grid > div {
	background-position-x: 100%;
}

.knowledge-box {
	padding: 3rem;
	background: linear-gradient(-45deg, #693, #be9); /* TMP */
}

.knowledge-box h2 {
	font-size: 3rem;
}

#user-title {
	color: white;
	font-size: 96px;
	font-family: 'Yatra One', cursive;
}

.normal-title {
	text-align: center;
	font-family: 'Yatra One', cursive;
	margin-top: 3rem;
	margin-bottom: 2rem;
	font-size: 5rem;
}

.project {
	display: block;
	text-decoration: none;
	background-size: cover;
	background-position-y: center;
}

.project:hover {
	text-decoration: none;
	color: inherit;
}

.project div {
	background: linear-gradient(45deg, #000000 0%, #2d2d2d 100%);
	width: 30rem;
	height: 100%;
	float: right;
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: width 0.7s ease;
}

.project:hover div {
	width: 100%;
}

.project h2 {
	color: white;
}

#nordic-network {
	background-image: url(../img/nordic-network.jpg);
}

#nordic-network h2 {
	font-family: Viking;
}

#evo-jump-ai {
	background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(../img/jumping-ai.PNG);
}

#evo-move-ai {
	background-image: url(../img/moving-ai.PNG);
}

#evo-sigmoid-ai {
	background-image: url(../img/sigmoid-ai.PNG);
}

#p-plus {
	background-image: url(../img/p-plus.PNG);
}

#rng {
	background-image: url(../img/rng.PNG);
}

#rustimg {
	background-image: url(../img/rust.jpg);
	background-size: cover;
}

#jsimg {
	background-image: url(../img/js.jpg);
	background-size: cover;
}

/* TODO: Make random popup animation in JS */
/* Also this is not really a footer currently xD */
#footer {
    background-color: black;
    font-family: 'Segoe UI';
    top: 100%;
    height: 5%;
    color: white;
    width: 100%;
	position: fixed;
	display: grid;
	padding-left: 0.5rem;
}

#footer p {
	align-self: center;
}

@media screen and (min-device-width : 375px) and (max-device-width : 667px) {
	#user-title {
		font-size: 3rem;
		justify-self: center;
	}
	
	#tropicsapling {
		padding-top: 4rem;
		padding-left: 0;
	}
	
	#tropicsapling em {
		font-size: 1rem;
		justify-self: center;
	}
	
	.wrapper {
		padding: 0 2rem;
		padding-bottom: 2rem;
	}

	#intro.wrapper img {
		width: 2.5rem;
	}
	
	#about.wrapper p {
		font-size: 1rem;
	}

	#about.wrapper img.scroller {
		width: 1.5rem;
	}
	
	.normal-title {
		font-size: 2.5rem;
		text-align: left;
	}

	#learn-more {
		text-align: center;
		font-size: 2rem;
	}

	.project div {
		width: 20rem;
	}

	.project div h2 {
		font-size: 1.2rem;
	}
	
	#projects2.wrapper {
		padding: 5.75rem 2rem;
	}

	#knowledge-grid {
		grid-template: none;
	}

	.knowledge-box {
		padding: 2rem;
	}

	.knowledge-box h2 {
		font-size: 2rem;
	}
	
	#contact.wrapper > p {
		font-size: 1rem;
	}
	
	#footer {
		display: none;
	}
}

@media screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation: landscape) {
	#projects.wrapper {
		grid-gap: 1rem;
	}
	
	#projects2.wrapper {
		grid-gap: 1rem;
	}
}