@font-face {
	font-family: Viking;
	src: url(../fonts/Viking.ttf);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'David Libre', serif;
}

/* NOTE: Custom scrollbar doesn't work on IE nor Firefox */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}
 
::-webkit-scrollbar-thumb {
	background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
	background: #777;
}

#img-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.main-bg {
	position: absolute;
	width: 100%;
}

#tropicsapling {
	display: grid;
	visibility: hidden;
	padding-left: 1rem;
}

#tropicsapling em {
	font-size: 1.5rem;
	color: #eee;
}

.wrapper {
	display: grid;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}

#intro.wrapper {
	top: 0;
	align-items: left;
}

#about.wrapper {
	top: 100%;
	padding: 2rem 10rem;
	justify-content: center;
}

#projects.wrapper {
	top: 200%;
	height: 200%;
	padding: 2rem 10rem;
	grid-gap: 2rem;
}

#user-title {
	color: white;
	font-size: 96px;
	font-family: 'Yatra One', cursive;
}

.normal-title {
	text-align: center;
	font-family: 'Yatra One', cursive;
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 5rem;
}

.project {
	display: block;
	text-decoration: none;
	background-size: cover;
	background-position-y: center;
}

.project:hover {
	text-decoration: none;
	color: inherit;
}

.project div {
	background: linear-gradient(45deg, #000000 0%, #2d2d2d 100%);
	width: 30rem;
	height: 100%;
	float: right;
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: width 0.7s ease;
}

.project:hover div {
	width: 100%;
}

.project h2 {
	color: white;
}

.project:first-of-type {
	background-image: url(../img/nordic-network.PNG);
}

.project:first-of-type h2 {
	font-family: Viking;
}

.project:nth-of-type(2) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(../img/jumping-ai.PNG);
}

.project:nth-of-type(3) {
	background-image: url(../img/moving-ai.PNG);
}
