#main-bg {
  width: 100%;
  z-index: -1;
}

#user-title {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 96px;
  font-family: 'Yatra One', serif;
}

#project {
  text-align: center;
  text-decoration: none;
  color: #373a3c;
}
